*
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: #410000;
    color: white;
    height: 80px;
    border-radius: 25px;
    width: 40vw;
    margin-left: 435px;
    margin-bottom: 30px;
}
h1{
    padding-top: 20px;
}
table{
    font-size: 17px;
    border-collapse: collapse;
}

td input{
    width: 30vw;
    height: 6vh;
    border: 1px solid #410000;
    margin: 10px;
    padding-left: 10px;
    font-size: 17px;
    background-color: #e3e3e3;
}
button{
    width: 15vw;
    height:7vh;
    font-size: 17px;
    background-color: #410000;
    color:white;
    margin-top:20px;
    font-size:17px;
}

